DiffCalculator/ServiceConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ServiceConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ServiceTimeInterval" type="xs:double" />
        <xs:element name="MailTrigger" type="xs:unsignedShort" />
        <xs:element name="Receivers">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Receiver" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="WebLinks">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Link1">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="regex" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="Link2">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="regex" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>